doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ForceSync

    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")

    link(rel="stylesheet", href="/build/lib.css")
    link(rel="stylesheet", href="/build/style.css")

    link(rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png" sizes="192x192")
    link(rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-TileImage" content="/favicon/mstile-144x144.png")
    meta(name="theme-color" content="#ffffff")

  body
    block body
      #navigation

      div.container
        #application

      //- script(src="/vendor/socketio-client/socket.io.js")

      //- script(src="/vendor/jquery/dist/jquery.js")
      //- script(src="/vendor/autogrow-textarea/jquery.autogrowtextarea.js")
      //- script(src="/vendor/lodash/lodash.js")

      //- script(src="/vendor/backbone/backbone.js")
      //- script(src="/vendor/ractive/ractive.runtime.min.js")
      //- script(src="/vendor/ractive-adaptors-backbone/dist/ractive-adaptors-backbone.js")

      script(src="/build/lib.js")
      script(src="/build/templates.js")
      script(src="/build/application.js")
