extends index

block body
  .container
    h1
      i.fa.fa-cloud-download
      |  ForceSync

    form(role='form', action="/login", method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Login
