<form method="post" accept-charset="utf-8" on-submit="save">
  <h1>Config</h1>
  {{#if loading}}
    <h2>&nbsp;</h2>
    <div class="loading">Loading...</div>
  {{else}}
    <div class="form-group">
      <label for="id_defaultCron" class="control-label">Default Cron:</label>
      <input type="text" class="form-control" id="id_defaultCron" placeholder="min hour day month weekday" value="{{config.defaultCron}}">
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label for="id_tables" class="control-label">Tables:</label>
        <textarea id="id_tables" class="form-control" rows="2" value="{{config.tables}}" style="resize:none;" decorator="autosize"></textarea>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label">Parsed Tables:</label>
        <pre>{{JSON.stringify(config.tablesJson, null, 2)}}</pre>
      </div>
    </div>

    <div class="form-group clearfix">
      <button type="submit" class="btn btn-primary pull-right" disabled="{{sending || (config.hasChanged && !config.hasChanged())}}">
        <i class="fa fa-fw fa-floppy-o"></i> Save
      </button>
    </div>
  {{/if}}
</form>
