<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" on-click="clickItem"><i class="fa fa-cloud-download"></i> ForceSync</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#each items}}
          <li class="{{#if href == path}}active{{/if}}"><a href="{{href}}" on-click="clickItem">{{#if icon}}<i class="fa {{icon}}"></i>{{/if}} {{name}}</a></li>
        {{/each}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
