<h1>Users</h1>
{{#if loading}}
  <div class="loading">Loading...</div>
{{else}}
  <table class="table table-striped" id="usersTable">
    <thead>
      <tr>
        <th width="1">Avatar</th>
        <th width="1">Username</th>
        <th>Token Issued</th>
        <th width="1">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users.models}}
        <tr class="user">
          <td>
            <div style="width:30px;height:30px;background:#ddd">
              <img height="30" width="30" src="{{photoThumb}}?oauth_token={{accessToken}}">
            </div>
          </td>
          <td><a href="/users/{{id}}/" on-click="clickUser">{{username}}</a></td>
          <td>{{{issuedAt}}}</td>
          <td>
            <a href="#" title="Refresh Access Token" on-click="refreshToken" class="txt-default txt-success-hover">
              <i class="fa fa-fw fa-refresh"></i>
            </a>
            <a href="#" title="Remove User" on-click="rmUser" class="txt-default txt-danger-hover">
              <i class="fa fa-fw fa-user-times"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td></td>
        <td>
          <a href="/oauth2/auth/" on-click="addUser" class="btn btn-default">
            <i class="fa fa-user-plus"></i>
            Add User
          </a>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
{{/if}}
