{{#if loading}}
  <h2>&nbsp;</h2>
  <div class="loading">Loading...</div>
{{else}}
  <div class="row">
    <div class="col-xs-12">
      <h2>{{user.username}}</h2>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
      <div class="thumbnail">
        <img src="{{user.photo}}?oauth_token={{user.accessToken}}">
      </div>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
      <dl class="dl-horizontal" style="word-wrap:break-word">
        <dt>id</dt>
        <dd>{{user.id}}</dd>

        <dt>organizationId</dt>
        <dd>{{user.organizationId}}</dd>

        <dt>accessToken</dt>
        <dd>{{user.accessToken}}</dd>

        <dt>accessTokenIssuedAt</dt>
        <dd>{{user.accessTokenIssuedAt}}</dd>

        <dt>refreshToken</dt>
        <dd>{{user.refreshToken}}</dd>

        <dt>instanceUrl</dt>
        <dd>{{user.instanceUrl}}</dd>
      </dl>
    </div>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-default" disabled="{{configuring}}" on-click="configure">
      {{#if configuring}}
        Configuring...
      {{else}}
        Configure
      {{/if}}
    </button>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <table class="table table-striped table-condensed">
        <tbody>
          {{#each user.tables}}
            <tr>
              <td>
                <i class="fa fa-fw fa-clock-o"></i>
              </td>
              <td>{{this}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
